node_modules/
.env
.env.*
.claude/
*.log
ai-contex_pattern/dist_deploy/
ai-contex_pattern/dist_deploy.zip

### MCP CONECTOR MUST BE IGNORED FOR SECURITY REASONS, DO NOT COMMIT THIS FILE TO GITHUB OR ANY OTHER PUBLIC REPOSITORY
.mcps**
